@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
.ant-table-wrapper{
  width: 77vw;
}
.sidebar-list{
  /* padding: 20px; */
  font-size: 17px;
  width: 80%;
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  gap: 50px;
  
  li{
    display: flex;
   justify-content: center;
    width: 100%;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
    
  }
  .active{
    background-color: #4d6485;

  }
  li:hover{
    background-color: #4d6485;

  }

}
.spinner{
  display: grid;
  place-self:center;
  min-height: 80vh;
}
@keyframes rotate{
  100%{
    transform: rotate(360deg);
  }
}
.spin{
  width: 65px;
  height: 65px;
  place-self: center;
  border: 5px solid #bdbdbd;
  border-top-color: #4500c6;
  border-radius: 50%;
  animation: rotate 2s infinite;

}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
